body,
html,
#root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.app-root {
  padding: 12px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.player-card {
  position: relative;
  background: #000;
  padding-top: 56.25%;
}
.player-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
